@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}




body{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    color: #555;
    background: url(./picture/vintage-wallpaper.png);
}


h1{
    font-size: 26px ;  
    margin-bottom: 20px;
}

.blog-post p{
    font-size: 20px;
    margin-bottom: 20px;

}

.blog-img{
    width: 90%;
}

#author-text{
    font-size: 18px;
}

.container{
    width: 1140px;    
    margin: 0    auto   ;   
    /* #   top  right  bottom  left       */
    margin-top: 20px;
}


.blog-post{
    float: left;
    width: 73%;
    padding: 30px;
    background-color: #fff;
    margin-right: 2%;
    border: 1px solid #d0c9c9;
    border-radius: 10px;
    position: relative;

}

#post-date{
    position: absolute;
    top: 40px ;
    right: 40px;
    font-size: 16px;

}




.author-box{
    float: left;
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d0c9c9;
    border-radius: 10px;
    text-align: center;
}

.author-box img{
    width: 150px;
    border-radius: 50%;
    border: 3px rgba(106, 0, 155, 0.6) solid;
}

.other-posts{
   
    float: left;
    width: 25%; 
    padding: 20px;
    background-color: rgb(246, 219, 169);
    border: 1px cornflowerblue solid;
    border-radius: 25px;
    margin-top: 20px;

}

.other-posts h3{
    margin-bottom: 10px;
    font-weight:bold

}


.other-posts p{
    font-size: 16px;
    
    
}

.post{
    border-bottom: 1px solid #d0c9c9;
    margin-bottom: 10px; 
    padding-bottom: 10px;

}

.post:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}